/*---------------------------------------
  NAVBAR WRAPPER
-----------------------------------------*/
.navbarwrapper {
  position: relative;
}

/*---------------------------------------
  LOGO
-----------------------------------------*/
footer .logoblock {
  margin-bottom: 1rem;
  border-color: var(--section-title-color);
}
  
.footerlogo {
  padding: 0.5rem 0 0 0;
  margin-bottom: 0;
}

footer .footerlogo {
  color: var(--dark-color) !important;
}

/*---------------------------------------
  FOOTER STYLES
-----------------------------------------*/
footer {
  background-color: var(--banner-color);
  border-top: 3px solid var(--section-title-color);
}

.FooterRowTitle {
  margin: 0;
  line-height: normal;
  display: inline;
  color: var(--dark-color);
}

.footerflexbox {
  display: inline-block;
  padding: 0 10px 3px 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--section-title-color);
  color: var(--dark-color);
}

.kofi {
  display: block;
  filter: drop-shadow(3px 3px 3px);
  height: 50px;
}

.kofiabout {
  filter: drop-shadow(3px 3px 3px);
  height: 180px;
}

.kofirow {
  max-width: 200px;
}

.footerlink {
  padding-bottom: 0.4rem;
  padding-left: 0.2rem;
  font-size: var(--footer-link-font-size);
  font-weight: var(--font-weight-normal);
}

.footerlink a {
  font-size: var(--footer-link-font-size);
  color: var(--dark-color);
  text-decoration: none;
}

.footerlink a::before {
  content: '›  ';
  color: var(--section-title-color);
  font-weight: var(--font-weight-bold);
  font-size: 1.1em;
}

.footerlink a:hover {
  color: var(--section-title-color);
}

.footerlink a:hover::before {
  color: var(--dark-color);
}

footer > .csscontainer {
  padding-top: 3.5rem;
  margin-right: auto;
  margin-left: auto;
}

/*THIS IS THE COPYRIGHT ON THE BOTTOM OF THE PAGE*/
.copyrighttext {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-style: italic;
  color: rgba(255, 255, 255, 0.82);
  font-size: var(--copyright-font-size);
  margin-left: 0;
  margin-right: 0;
  background-color: var(--dark-color);
  border-top: 3px solid var(--section-title-color);
}

.copyrighttext div {
  color: rgba(255, 255, 255, 0.82);
}

.footerkoficoffelink {
  color: rgba(255, 255, 255, 0.82) !important;
  font-size: var(--copyright-font-size);
}

.footerkoficoffelink:hover {
  color: #fff !important;
}