/*---------------------------------------
  LOGO             
-----------------------------------------*/
footer .logoblock {
    margin-bottom: 1rem;
}
  
.footerlogo {
    padding: 0.5rem 0rem 0rem 0rem;
    margin-bottom: 0;
}

/*---------------------------------------
  FOOTER STYLES               
-----------------------------------------*/
footer {
background-color: var(--banner-color);
}
  
.FooterRowTitle {
margin: 0px 0px 0px 0px;
line-height: normal;
display: inline;
}
  
.footerflexbox {
display: inline-block;
padding: 0px 10px 3px 0px;
margin-bottom: 1rem;
border-bottom: 3px solid var(--primary-color);
}

.kofi {
display: block;
filter: drop-shadow(3px 3px 3px);
height: 50px;
}

.kofiabout {
filter: drop-shadow(3px 3px 3px);
height: 180px;
}

.kofirow{
max-width: 200px;
}

.footerlink {
padding-bottom: 0.5rem;
padding-left: 0.4rem;
font-size: var(--footer-link-font-size);
color: var(--dark-color);
font-weight: var(--font-weight-normal);
}

.footerlink a{
font-size: var(--footer-link-font-size);
}

footer>.csscontainer {
    padding-top: 3.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  
/*THIS IS THE COPYRIGHT ON THE BOTTOM OF THE PAGE*/
.copyrighttext {
padding-top: 2rem;
padding-bottom: 0.8rem;
text-align: center;
font-style: italic;
color: var(--p-color);
font-size: var(--copyright-font-size);
margin-left: 1rem;
margin-right: 1rem;
}

.footerkoficoffelink {
color: var(--dark-color);
font-size: var(--copyright-font-size);
}